.splash-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.demo-big-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #161531,
    #161531,
    #161531
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #161531, #161531, #161531);
}

@keyframes run {
  0% {
    left: -90px;
    color: #eee;
  }
  50% {
    color: #666;
  }
  100% {
    left: 90px;
    color: #eee;
  }
}
